.Flipper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40em;
    margin: 5em auto;
    border: dashed 2px darkviolet;
    border-radius: 2em;
}

.Flipper button {
    border: none;
    background-color: DarkViolet;
    color: white;
    padding: .3em 1em;
    font-size: 1em;
    font-weight: bold;
}